<div class="row">
    <div class="span3">
        <button class="btn" ng-click="ctrl.onRefresh()"><i class="icon-sync"></i></button>
        <div class="btn-group">
            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                <!--{{ctrl.bindFilter.IsPresent ? 'Solo presenti' : (ctrl.bindFilter.IsConfirmed ? 'Solo confermati' : 'Tutti iscritti')}}-->
                {{ctrl.getFilterType()}}
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li>
                    <a href="#" ng-click="ctrl.setFilter($event,-1)">
                        <i class="icon-"></i>
                        Tutti iscritti
                    </a>
                </li>
                <li>
                    <a href="#" ng-click="ctrl.setFilter($event,-2)">
                        <i class="icon-"></i>
                        Solo confermati
                    </a>
                </li>
                <li>
                    <a href="#" ng-click="ctrl.setFilter($event,-3)">
                        <i class="icon-"></i>
                        Solo presenti
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="span9">
        <label>
            Ricerca: <input ng-model="flt" ng-change="ctrl.setFilter($event, flt)" placeholder="Filtra su tutti i campi ..." />
        </label>
    </div>
</div>