<button class="btn" ng-click="ctrl.toggleInsert()">Nuova Registrazione</button>
<div ng-if="ctrl.inInsert">
    <form name="frm" ng-submit="ctrl.Save()">
        <umb-panel>
            <umb-header tabs="content.tabs">
                <div class="umb-headline-editor-wrapper span12">
                    <h2>Nuova registrazione</h2>
                </div>
            </umb-header>

            <umb-tab-view>
                <umb-tab id="tab1" rel="svensson" class="active">
                    <div class="umb-pane">
                        <div class="umb-listview">

                            <xe-textbox-dir label="Nome" model="ctrl.data.Name" is-req="true"></xe-textbox-dir>
                            <xe-textbox-dir label="Cognome" model="ctrl.data.Surname" is-req="true"></xe-textbox-dir>
                            <xe-textbox-dir label="Email" model="ctrl.data.Email" is-req="true"></xe-textbox-dir>
                            <xe-textbox-dir label="Citta" model="ctrl.data.City" is-req="false"></xe-textbox-dir>

                        </div>
                    </div>
                </umb-tab>
            </umb-tab-view>

            <div class="umb-panel-footer">
                <div class="btn-toolbar umb-btn-toolbar pull-right">
                    <a class="btn btn-link" data-hotkey="esc" ng-click="ctrl.Cancel()">
                        <localize key="cancel" />
                    </a>
                    <button type="submit" data-hotkey="ctrl+s" class="btn btn-success" ng-disabled="!frm.$valid">
                        <localize key="buttons_save">Save</localize>
                    </button>
                </div>
            </div>
        </umb-panel>
    </form>
</div>