<button class="btn" ng-click="ctrl.toggleInsert()">Nuova Registrazione</button>
<div ng-if="ctrl.inInsert">
    <form name="frm" ng-submit="ctrl.Save()">
        <umb-panel>
            <umb-header tabs="content.tabs">
                <div class="umb-headline-editor-wrapper span12">
                    <h2>Nuova registrazione</h2>
                </div>
            </umb-header>

            <umb-tab-view>
                <umb-tab id="tab1" rel="svensson" class="active">
                    <div class="umb-pane">
                        <div class="umb-listview">

                            <xe-textbox-dir name="Name" label="Nome" model="ctrl.data.Name" is-req="true"
                                            is-valid="frm.Name.$valid || frm.Name.$pristine" err-message="*nome obbligatorio"></xe-textbox-dir>
                            <xe-textbox-dir name="Surname" label="Cognome" model="ctrl.data.Surname" is-req="true"
                                            is-valid="frm.Surname.$valid || frm.Surname.$pristine" err-message="*cognome obbligatorio"></xe-textbox-dir>
                            <xe-textbox-dir type="email" name="Email" label="Email" model="ctrl.data.Email" is-req="true"
                                            is-valid="frm.Email.$valid || frm.Email.$pristine" err-message="*email obbligatoria"></xe-textbox-dir>
                            <xe-textbox-dir name="City" is-valid="true" label="Citta" model="ctrl.data.City" is-req="false"></xe-textbox-dir> 
<pre ng-if="!frm.$valid">    
    Name    val={{frm.Name.$valid}}     - err={{frm.Name.$error}}
    Surname val={{frm.Surname.$valid}}  - err={{frm.Surname.$error}}
    Email   val={{frm.Email.$valid}}    - err={{frm.Email.$error}}
    $valid={{frm.$valid | json}}
    $error={{frm.$error | json}}
</pre>
                        </div>
                    </div>
                </umb-tab>
            </umb-tab-view>

            <div class="umb-panel-footer">
                <div class="btn-toolbar umb-btn-toolbar pull-right">
                    <a class="btn btn-link" data-hotkey="esc" ng-click="ctrl.Cancel()">
                        <localize key="cancel">Cancel</localize>
                    </a>
                    <button type="submit" data-hotkey="ctrl+s" class="btn btn-success" ng-disabled="!frm.$valid">
                        <localize key="buttons_save">Save</localize>
                    </button>
                </div>
            </div>
        </umb-panel>
    </form>
</div>